@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root{
    --strong-cyan:hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish--cyan: hsl(186, 14%, 43%);
    --dark--grayish-cyan-2: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-grayish-cyan-2: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body{
    background-color: #ccc;
    font-size: 10px;
    font-family: 'Space Mono';
}

#container-img{
    text-align: center;
}

#img-splitter{
    margin: 20px auto;
    
    text-align: center;
}
#principal{
    display: grid;
    grid-template-columns: repeat(2,200px);
    width: 60%;
    height: 300px;
    background-color: var(--white);
    margin: auto;
    border-radius: 5%;
}

#container{
    width: 60%;
    height: 500px;
    margin: 60px auto;
    background-color: lightblue;
}

#gridBtns{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,50px);
    margin-left: 20px;
}

.attribution{
     font-size: 11px; 
     text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

.etiqueta{
    display: block;
    margin-left: 20px;
}

input[type="text"],[type="number"]{
    margin-left: 20px;
}

#resultado{
    height: 200px;
    display: inline-block;
    background-color: red;
    border-radius: 5%;
    padding: 10px;
    margin-left: 40px;
    width: 200px;
}

#resultado__btn{
    display: block;
    margin-left: 50px;
    margin-top: 130px;
}

#datos{
    display: inline-block;
    background-color: red;
}